    /**************************************************/


/*Bunch Of CSS3Loaders
/*By Koussay.com
/*This word is under The MIT License (MIT)
/**************************************************/


/*Audio Wave */

#audiowave {
    position: relative;
}

#audiowave span {
    display: block;
    bottom: 0px;
    width: 9px;
    height: 5px;
    background: #9b59b6;
    position: absolute;
    animation: audiowave 1.5s infinite ease-in-out;
}

#audiowave span:nth-child(2) {
    left: 11px;
    animation-delay: .2s;
}

#audiowave span:nth-child(3) {
    left: 22px;
    animation-delay: .4s;
}

#audiowave span:nth-child(4) {
    left: 33px;
    animation-delay: .6s;
}

#audiowave span:nth-child(5) {
    left: 44px;
    animation-delay: .8s;
}

@keyframes audiowave {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}


/*Circular Rectangle*/

#circular {
    position: relative;
    left: 50%;
    width: 40px;
    height: 40px;
}

#circular span {
    display: block;
    bottom: 0px;
    width: 20px;
    height: 20px;
    background: #9b59b6;
    position: absolute;
}

#circular span:nth-child(1) {
    animation: circular_1 1.5s infinite ease-in-out;
}

#circular span:nth-child(2) {
    left: 20px;
    animation: circular_2 1.5s infinite ease-in-out;
}

#circular span:nth-child(3) {
    top: 0px;
    animation: circular_3 1.5s infinite ease-in-out;
}

#circular span:nth-child(4) {
    top: 0px;
    left: 20px;
    animation: circular_4 1.5s infinite ease-in-out;
}

@keyframes circular_1 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        transform: translateX(-20px) translateY(-10px) rotate(-180deg);
        border-radius: 20px;
        background: #3498db;
    }
    80% {
        transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@keyframes circular_2 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        transform: translateX(20px) translateY(-10px) rotate(180deg);
        border-radius: 20px;
        background: #f1c40f;
    }
    80% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@keyframes circular_3 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        transform: translateX(-20px) translateY(10px) rotate(-180deg);
        border-radius: 20px;
        background: #2ecc71;
    }
    80% {
        transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@keyframes circular_4 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        transform: translateX(20px) translateY(10px) rotate(180deg);
        border-radius: 20px;
        background: #e74c3c;
    }
    80% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}


/*Crossing Shapes*/

#shapes {
    position: relative;
    margin: 10% 0 0 50%;
}

#shapes:before {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: blue;
    content: '';
    position: absolute;
    background: #9b59b6;
    animation: shapes_before 1.5s infinite ease-in-out;
}

#shapes:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: blue;
    content: '';
    position: absolute;
    background: #2ecc71;
    left: 22px;
    animation: shapes_after 1.5s infinite ease-in-out;
}

@keyframes shapes_before {
    0% {
        transform: translateX(0px) rotate(0deg)
    }
    50% {
        transform: translateX(50px) scale(1.2) rotate(260deg);
        background: #2ecc71;
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px) rotate(0deg)
    }
}

@keyframes shapes_after {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(-50px) scale(1.2) rotate(-260deg);
        background: #9b59b6;
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px)
    }
}


/*Snake*/

#snake {
    position: relative;
    margin: 10% 0 0 50%;
}

#snake span {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3498db;
    opacity: 0.5;
    border-radius: 20px;
    animation: snake 1s infinite ease-in-out;
}

#snake span:nth-child(2) {
    left: 20px;
    animation-delay: .2s;
}

#snake span:nth-child(3) {
    left: 40px;
    animation-delay: .4s;
}

#snake span:nth-child(4) {
    left: 60px;
    animation-delay: .6s;
}

#snake span:nth-child(5) {
    left: 80px;
    animation-delay: .8s;
}

@keyframes snake {
    0% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
        background: #f1c40f;
        box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
    }
    100% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    }
}


/*Spinnig Disc*/

#disc {
    position: relative;
    width: 30px;
    height: 30px;
    background: #3498db;
    border-radius: 50px;
    animation: disc 1.5s infinite linear;
    margin: 10% 0 0 50%;
}

#disc:after {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 10px solid #9b59b6;
    border-bottom: 10px solid #9b59b6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 50px;
    content: '';
    top: -20px;
    left: -20px;
    animation: disc_after 1.5s infinite linear;
}

@keyframes disc {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        background: #2ecc71;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disc_after {
    0% {
        border-top: 10px solid #9b59b6;
        border-bottom: 10px solid #9b59b6;
    }
    50% {
        border-top: 10px solid #3498db;
        border-bottom: 10px solid #3498db;
    }
    100% {
        border-top: 10px solid #9b59b6;
        border-bottom: 10px solid #9b59b6;
    }

